<input type="hidden" name="roomId" id="roomId" value="<%= roomId %>" />

<div>
  <article id="chatMessages"><div class="message">
  </div></article>
</div>

<input type="text" id="chatInput" name="chatInput" placeholder="Enter chat message...">
<button id="chatSubmit" type="button" class="btn btn-dark">Submit</button>

<template id="chatMessage">
  <div class="message">
    <!-- <img src="" alt="" /> -->
    <p></p>
  </div>
</template>