<input type="hidden" name="roomId" id="roomId" value="<%= roomId %>" />

<div>
  <article id="chatMessages">
    <% messages.forEach((message) => { %>
    
          <div class="message">
            <p>(<%= message.created_at %>) <%= message.username.username %>: <%= message.content %></p>
          </div>

      <% }) %>
    
  </article>
</div>

<input type="text" id="chatInput" name="chatInput" placeholder="Enter chat message...">
<button id="chatSubmit" type="button" class="btn btn-dark">Submit</button>

<template id="chatMessage">
  <div class="message">
    <p></p>
  </div>
</template>