<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hearts</title>
</head>
<body>
    Welcome to Hearts!

    <ul>
        <button type="button">
            <a href="/auth/login">Sign out</a>
        </button>
        
        <button type="button">
            Create room
        </button>
    </ul>

    <form>
        <input type="text" id="chatInput" name="chatInput">
        <input type="submit" value="Submit">
    </form>
</body>
</html>