<html>
  <head>
    <!-- use favicon.ico  -->
    
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <script src="/scripts/bundle.js"></script>
    <title>Uno Game</title>
  </head>
  <body>
    <p>Hello <%= name %></p>
  </body>
</html>