.main-container {
    position: relative;
    left: -20px;
}

.central{
    flex-direction: column;
    display: flex;
}

.row-central-2{
    flex-direction: row;
    display: flex;
}

.row-central-3{
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.row-central-4{
    flex-direction: row;
    display: flex;
}

.col-aside-2{
    flex-direction: row;
    display: flex;
}

[class*="col-aside-"]{
    writing-mode: vertical-rl;
    text-orientation: sideways;
}

.card-side{
    width: 5rem;
    height: 5rem;
    transform: rotate(90deg);
}

.card-central{
    width: 5rem;
    height: 5rem;
}

.avatar {
    width: 45px;
    height: 100%;
  }
  
  .rounded-3 {
    background-color: #f5f6f7;
  }
.card-body{
    height: 600px;
}

#lobbyChat{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#chatInput{
    position: absolute;
    bottom: 0.5px;
    right: 140px;
    width: 400px;
}

#chatSubmit{
    position: absolute;
    bottom: -2.5px;
    right: 50px;
}

#chatMessages{
    position: absolute;
    bottom: 50px;
    right: 51px;
    width: 488.5px;
    height: 552px;
    background-color: rgb(255, 255, 255);
    overflow: hidden; 
    overflow-y: scroll;
}

div p{
    color: black;
    text-align: left;
}

#instructions{
    padding-bottom: 10px;
}

#PlayButton{
    display: none;
    margin-bottom: 10px;
}

#PassButton{
    display: none;
    margin-bottom: 10px;
}

